@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.woff");
}
$a : "Arial";

@font-face {
  font-family: "FuturaPT-Book";
  src: url("../fonts/FuturaPT-Book.woff");
}
$fb : "FuturaPT-Book";

@font-face {
  font-family: "FuturaPT-Demi";
  src: url("../fonts/FuturaPT-Demi.woff");
}
$fd : "FuturaPT-Demi";

@font-face {
  font-family: "FuturaPT-ExtraBold";
  src: url("../fonts/FuturaPT-ExtraBold.woff");
}
$feb : "FuturaPT-ExtraBold";

@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../fonts/FuturaPT-Medium.woff");
}
$fm : "FuturaPT-Medium";